In [7]:
from data.stocks import *
from data.utils import *

stock_id = '039c0fe9-59f8-4993-9f75-cb388758109f'
conn = connect_to_database('192.168.0.165')
table = get_stock_price_table(conn, stock_id, '2010-01-01', '2015-12-31')
price = get_stock_price(conn, stock_id, '2010-01-06')

print(price)
display(table)

240.56

            date close_price
0     2010-01-04      234.48
1     2010-01-05      234.22
2     2010-01-06      240.56
3     2010-01-07      239.24
4     2010-01-08      241.35
...          ...         ...
1464  2015-12-24      762.17
1465  2015-12-25      762.17
1466  2015-12-28      761.87
1467  2015-12-29      770.84
1468  2015-12-30      766.65

[1469 rows x 2 columns]

In [ ]:
# Download and store historical stock data
from scripts.fetch_price import *

host = '192.168.0.165'
fetch_prices(host)