In [1]:
from datetime import date

import matplotlib.pyplot as plt
from cvxopt import matrix, solvers
from pandas import DataFrame
from Utils.Signals import *

In [18]:
# Let's assume we are interested in the following stocks: AAPL, MSFT, TSLA, AMZN, GOOG
tickers = ['AAPL', 'MSFT', 'TSLA', 'AMZN', 'GOOG']
dates = pd.date_range(start='2020-01-14', periods=3)

# Download historical stock data
data = yf.download(tickers, start='2020-01-14', end='2020-01-17')
display(data)

[*********************100%***********************]  5 of 5 completed

Price           Close                                                    High  \
Ticker           AAPL       AMZN       GOOG        MSFT       TSLA       AAPL
Date
2020-01-14  75.602066  93.472000  71.206726  154.481064  35.861332  76.784410
2020-01-15  75.278084  93.100998  71.620766  155.481537  34.566666  76.283920
2020-01-16  76.221039  93.897003  72.242828  158.330460  34.232666  76.332266

Price                                                    ...       Open  \
Ticker           AMZN       GOOG        MSFT       TSLA  ...       AAPL
Date                                                     ...
2020-01-14  94.355499  71.750150  155.881714  36.493999  ...  76.574056
2020-01-15  93.943001  71.729997  156.205691  35.855999  ...  75.401398
2020-01-16  94.279503  72.257263  158.397164  34.297333  ...  75.822091

Price                                                       Volume            \
Ticker           AMZN       GOOG        MSFT       TSLA       AAPL      AMZN
Date
2020-01-14  94.293999  71.611312  155.681615  36.284000  161954400  68818000
2020-01-15  93.612503  71.173384  154.947959  35.317333  121923600  57932000
2020-01-16  94.149498  72.030835  156.596331  32.916668  108829200  53190000

Price
Ticker          GOOG      MSFT       TSLA
Date
2020-01-14  31178000  23477400  434943000
2020-01-15  25654000  21417900  260532000
2020-01-16  23474000  23865400  326050500

[3 rows x 25 columns]

In [19]:
# Compute historical daily returns
var_returns = data['Close'].pct_change().dropna()
display(var_returns)

Ticker          AAPL      AMZN      GOOG      MSFT      TSLA
Date
2020-01-15 -0.004285 -0.003969  0.005815  0.006476 -0.036102
2020-01-16  0.012526  0.008550  0.008686  0.018323 -0.009662

In [42]:
# Expected returns (mean of past returns)
mu = var_returns.mean().values.reshape(-1, 1)
print(mu)

[[ 0.00412046]
 [ 0.00229039]
 [ 0.00725006]
 [ 0.01239978]
 [-0.02288225]]

In [43]:
# Compute covariance matrix
Sigma = var_returns.cov().values
print(Sigma)

[[1.41315805e-04 1.05232845e-04 2.41322298e-05 9.95827622e-05
  2.22246125e-04]
 [1.05232845e-04 7.83631509e-05 1.79704118e-05 7.41557352e-05
  1.65498772e-04]
 [2.41322298e-05 1.79704118e-05 4.12101475e-06 1.70055579e-05
  3.79525459e-05]
 [9.95827622e-05 7.41557352e-05 1.70055579e-05 7.01742209e-05
  1.56612935e-04]
 [2.22246125e-04 1.65498772e-04 3.79525459e-05 1.56612935e-04
  3.49524529e-04]]

In [45]:
alpha_scores = [ 0.5, 0.5, 0.5, 0.5, 0.5 ]
print(alpha_scores)

[0.5, 0.5, 0.5, 0.5, 0.5]

In [48]:
n_assets = 5

# Quadratic term (Risk component: λ * w'Σw)
P = matrix(0.3 * Sigma)

# Normalize signal scores
normalized_scores = alpha_scores / np.sum(alpha_scores)

# Linear term (maximize return + signal influence)
q = matrix(-mu - normalized_scores.reshape(-1, 1))
print(q)

[-2.04e-01]
[-2.02e-01]
[-2.07e-01]
[-2.12e-01]
[-1.77e-01]

In [49]:
# Constraints
G = -np.eye(n_assets)   # Only non-negative weights constraint
h = np.zeros(n_assets)  # w ≥ 0

# Full investment constraint: sum(w) = 1
A = matrix(np.ones((1, n_assets)))
b = matrix(np.ones(1))

# Solve quadratic optimization problem
sol = solvers.qp(P, q, G=matrix(G), h=matrix(h), A=A, b=b)

# Extract portfolio weights
weights = np.array(sol['x']).flatten()

     pcost       dcost       gap    pres   dres
 0: -2.0137e-01 -1.2124e+00  1e+00  1e-16  3e+00
 1: -2.0164e-01 -2.2239e-01  2e-02  5e-17  6e-02
 2: -2.0717e-01 -2.1249e-01  5e-03  7e-17  1e-02
 3: -2.1207e-01 -2.1285e-01  8e-04  3e-16  5e-17
 4: -2.1239e-01 -2.1239e-01  8e-06  2e-16  5e-17
 5: -2.1239e-01 -2.1239e-01  8e-08  1e-16  4e-17
Optimal solution found.